*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Iosevka Charon", monospace;
    font-weight: 400;
    font-style: normal;
    color: #e5e7eb;
    background: #1d2b4d;
}

.container{
    display: flex;
    flex-direction: row;
    width: 70%;
    max-width: 800px;
    margin: 100px auto;
}

.sign-up, .log-in{
    border: none;
    padding: 40px;
    text-align: center;
}

.sign-up{
    border-radius: 20px 0 0 20px;
    background: #111827;
}
.log-in{
    border-radius: 0 20px 20px 0;
    background: #111827;
}
.form{
    display: flex;
    justify-content: space-between;
}
img{
    width: 25px;
    height: 25px;
    margin: 7px;
}

a{
    text-decoration: none;
    color: #f59e0b;
}

button{
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    background: #f59e0b;
}

label{
    display:block;
    margin: 10px 0 5px 0;
}
input{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background: white;
   
}